.order {
  display: flex;
  flex-direction: column;

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
      padding-left: 206px;
      color: #ebebeb;
      height: 49px;
      font-family: 'Geometria-Bold', sans-serif;
      font-size: 40px;
      letter-spacing: 4.4px;
      margin: 52px 0 0 0;
    }

    .description {
      margin: 21px 0 0 0;
      color: #acacac;
      font-family: 'Geometria-Bold', sans-serif;
      font-size: 30px;
      letter-spacing: -1.65px;
    }

    .status {
      width: 324px;
      height: 60px;
      margin: 100px 0 0 0;
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    margin: 100px 0 0 5.694444vw;
    width: 1146px;

    .row {
      width: 1146px;
      display: flex;
      flex-direction: row;

      .orderList {
        display: flex;
        flex-direction: column;

        .item:not(:first-child) {
          margin: 20px 0 0 0;
        }

        .item {
          border: 1px solid #ebebeb;
          height: 108px;
          width: 824px;
          display: flex;
          flex-direction: row;

          .watch {
            margin: 20px 0 0 24px;
            height: 66px;
            width: 66px;
          }

          .modelDescription {
            margin: 30px 0 0 50px;
            width: 90px;
            height: 50px;

            .model {
              margin: 0;
              height: 25px;
              color: #171717;
              font-family: 'Geometria-Bold', sans-serif;
              font-size: 20px;
              letter-spacing: -1.1px;
            }

            .modelSex {
              margin: 8px 0 0 0;
              height: 17px;
              color: #acacac;
              font-family: 'Geometria', sans-serif;
              font-size: 14px;
              letter-spacing: -0.77px;
            }
          }

          .color {
            margin: 43px 0 0 50px;


            .selectColor {
              background-color: rgba(0, 0, 0, 0);
              width: 114px;
              height: 23px;
              border-width: 0;
              border-bottom: 2px solid #ebebeb;
              padding-bottom: 4px;
              padding-left: -10px;
              color: #171717;
              font-family: 'Geometria', sans-serif;
              font-size: 14px;
              letter-spacing: -0.77px;
              appearance: none;
            }

            label {
              margin: 0;
              position: relative;

            }

            label:after {
              content: url("../../../images/Arrow_down.svg");
              right: 0;
              width: 10px;
              height: 19px;
              bottom: 11px;
              background: rgba(0, 0, 0, 0);
              position: absolute;
              pointer-events: none;
              display: block;
            }

          }

          .selectColor::first-line {
            line-height: 0.8em;
          }

          .quantity {
            margin: 43px 0 40px 50px;
            width: 114px;
            border-width: 0;
            min-height: 26px;
            border-bottom: 2px solid #ebebeb;
            display: flex;
            flex-direction: row;


            input {
              -moz-appearance: textfield;
              padding-bottom: 4px;
              width: 84px;
              border-width: 0;
              background-color: rgba(0, 0, 0, 0);
              text-align: center;
              color: #171717;
              font-family: 'Geometria', sans-serif;
              font-size: 14px;
              letter-spacing: -0.77px;
            }


            .minus {
              height: 2px;
              background-color: rgba(0, 0, 0, 0);
              border-width: 0;
              position: relative;
              left: 10px;
              right: 0;
              bottom: 3px;
              padding: 0;

            }

            .plus {
              height: 10px;
              background-color: rgba(0, 0, 0, 0);
              border-width: 0;
              position: relative;
              right: 10px;
              left: 0;
              bottom: 3px;
              padding: 0;
              margin-right: 10px;
            }

            //@-moz-document url-prefix() {
            //  .plus {
            //    left: -30px;
            //  }
            //}


          }

          .price {
            margin: 41px 0 0 50px;
            height: 25px;
            color: #171717;
            font-family: 'Geometria-Bold', sans-serif;
            font-size: 20px;
            letter-spacing: -1.1px;
            text-transform: uppercase;
          }

          .close {
            margin: 48px 50px 0 auto;
            width: 10px;
            height: 10px;
            color: #acacac;
          }
        }
      }

      .promocodeContainer {
        position: relative;
        width: 100vw;
        max-height: 108px;
        right: 0;

        .promocodeHover {
          width: 243px;
          height: 135px;
          position: relative;
          left: 93px;
          top: -227px;
          z-index: 2;
          background-image: url("../../../images/promoBackground.png");

          .hoverHint {
            position: relative;
            left: 37px;
            top: 25px;
            margin: 0;
            min-height: 49px;
            color: #171717;
            font-family: 'Geometria-Medium', sans-serif;
            font-size: 14px;
            letter-spacing: -0.77px;
          }
        }

        .promocode {
          width: 243px;
          height: 108px;
          border: 1px solid #ebebeb;
          background-color: #ffffff;
          position: relative;
          margin-left: auto;
          z-index: 1;


          .promocodeText {
            height: 25px;
            display: flex;
            flex-direction: row;
            position: relative;
            left: 20px;
            top: 24px;

            p {
              margin: 2px 0 0 0;
              color: #acacac;
              height: 25px;
              font-family: 'Geometria-Medium', sans-serif;
              font-size: 20px;
              letter-spacing: -1.1px;
            }

            p::first-line {
              line-height: 0.8em;
            }

            img {
              height: 20px;
              max-width: 20px;
              margin: 0 0 0 11px;
            }
          }

          .promocodeInput {
            position: absolute;
            bottom: 15px;
            left: 20px;
            width: 119px;
            background-color: rgba(0, 0, 0, 0);
            max-height: 23px;
            min-height: 23px;
            border-width: 0;
            border-bottom: 2px solid #ebebeb;
            padding: 0 0 10px 0;
          }

          .promocodeInput::placeholder {
            width: 119px;
            height: 17px;
            color: #ebebeb;
            font-family: 'Geometria', sans-serif;
            font-size: 14px;
            letter-spacing: -0.77px;
          }

        }
      }
    }

    .total {
      margin: 20px 0 0 0;
      width: 824px;
      height: 62px;
      display: flex;
      flex-direction: row;
      background-color: #ebebeb;

      .totalText {
        margin: 19px 0 0 140px;
        width: 53px;
        height: 25px;
        color: #171717;
        font-family: 'Geometria-Bold', sans-serif;
        font-size: 20px;
        letter-spacing: -1.1px;
      }

      .totalPrice {
        margin: 19px 0 0 415px;
        height: 25px;
        color: #171717;
        font-family: 'Geometria-Bold', sans-serif;
        font-size: 20px;
        letter-spacing: -1.1px;
        text-transform: uppercase;

      }
    }

    .btnRow {
      display: flex;
      flex-direction: row;
      margin: 40px 0 0 0;

      .back {
        width: 114px;
        height: 40px;
        border-width: 0;
        background-color: rgba(255, 255, 255, 0);
        text-align: left;

        .arrowBack {
          margin: 2px 0 0 28px;
          max-width: 4px;
          max-height: 8px;
        }

        .backText {
          margin: 0 0 0 7px;
          width: 43px;
          height: 12px;
          color: #acacac;
          font-family: 'Geometria-Bold', sans-serif;
          font-size: 10px;
          letter-spacing: 1.1px;
          line-height: 12px;
        }
      }

      .next {
        width: 243px;
        height: 40px;
        background-color: #ebebeb;
        padding: 0;
        text-align: left;
        border-width: 0;
        margin: 0 0 0 789px;

        .nextText {
          margin: 0 0 0 96px;
          width: 42px;
          height: 12px;
          color: #171717;
          font-family: 'Geometria-Bold', sans-serif;
          font-size: 10px;
          letter-spacing: 1.1px;
          line-height: 12px;
        }

        .arrowNext {
          margin: 2px 0 0 5px;
          max-width: 4px;
          max-height: 8px;
        }
      }
    }
  }

}

@font-face {
  font-family: 'Geometria-Bold';
  src: url('../../../fonts/Geometria/Geometria-Bold.eot');
  src: local('Geometria Bold'), local('Geometria-Bold'),
  url('../../../fonts/Geometria/Geometria-Bold.eot?#iefix') format('embedded-opentype'),
  url('../../../fonts/Geometria/Geometria-Bold.woff') format('woff'),
  url('../../../fonts/Geometria/Geometria-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}


@font-face {
  font-family: 'Geometria';
  src: url('../../../fonts/Geometria/Geometria.eot');
  src: local('Geometria'),
  url('../../../fonts/Geometria/Geometria.eot?#iefix') format('embedded-opentype'),
  url('../../../fonts/Geometria/Geometria.woff') format('woff'),
  url('../../../fonts/Geometria/Geometria.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria-Medium';
  src: url('../../../fonts/Geometria/Geometria-Medium.eot');
  src: local('Geometria Medium'), local('Geometria-Medium'),
  url('../../../fonts/Geometria/Geometria-Medium.eot?#iefix') format('embedded-opentype'),
  url('../../../fonts/Geometria/Geometria-Medium.woff') format('woff'),
  url('../../../fonts/Geometria/Geometria-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}