.emailForm {
  display: flex;
  flex-direction: row;
  max-height: 800px;
  overflow-x: hidden;
  margin: 21px 83px 0 82px;


  .leftSquare {
    height: 400px;
    min-width: 501px;
    align-self: flex-start;
    z-index: 1;
  }

  .leftSquareBlack {
    background-color: #3d3f3c;
  }

  .leftSquareSilver {
    background-color: #84d7e7;
  }

  .leftSquareSilverBlack {
    background-color: #ee8335;
  }

  .form {
    min-width: 630px;
    height: 400px;
    margin: 100px -243px 0 -114px;
    background-color: #ebebeb;
    z-index: 15;

    .formContent {
      position: relative;
      left: 129px;
      top: 86px;

      .title {
        height: 37px;
        margin: 0;
        color: #171717;
        font-family: 'Geometria-Bold', sans-serif;
        font-size: 30px;
        letter-spacing: 3.3px;
      }


      .description {
        margin: 42px 0 0 2px;
        color: #acacac;
        font-family: 'Geometria', sans-serif;
        font-size: 20px;
        letter-spacing: -1.1px;
        line-height: 0.8em;
        height: 25px;
        max-width: 259px;
      }

      .description2{
        margin: 3px 0 0 2px;
        color: #acacac;
        font-family: 'Geometria', sans-serif;
        font-size: 20px;
        letter-spacing: -1.1px;
        height: 25px;
        line-height: 0.8em;
        max-width: 259px;
      }

      .sendEmail {
        width: 470px;
        padding: 0;
        margin: 52px 0 0 0;
        display: flex;
        justify-content: flex-end;

        .emailInput, .animation2 {
          width: 340px;
          max-height: 40px;
          text-indent: 10px;
          font-family: 'Geometria', sans-serif;
          font-size: 17px;
          color: #171717;
          border: 1px solid #ebebeb;
          background-color: #ffffff;
        }

        .emailInput::-webkit-input-placeholder, .animation2::-webkit-input-placeholder {
          height: 17px;
          color: #ebebeb;
          font-family: 'Geometria', sans-serif;
          font-size: 14px;
          font-weight: 400;
          letter-spacing: -0.77px;
        }

        .emailInput::-moz-placeholder, .animation2::-moz-placeholder {
          height: 17px;
          color: #ebebeb;
          font-family: 'Geometria', sans-serif;
          font-size: 14px;
          font-weight: 400;
          letter-spacing: -0.77px;
        }

        .submitButton, .animation {
          width: 120px;
          height: 40px;
          text-align: center;
          background-color: #171717;
          margin-left: 10px;
          padding: 0;
          border-width: 0;
          color: #ebebeb;
          font-family: 'Geometria-Bold', sans-serif;
          font-size: 10px;
          letter-spacing: 1.1px;
          line-height: 12px;
        }


        .animation {
          animation: submit 3s both;
        }

        @keyframes submit {
          from {
            margin-right: 0;
            margin-left: 10px;
            max-width: 120px;
          }
          17% {
            max-width: 120px;
            margin-left: 0;
          }
          33% {
            max-width: 120px;
            margin-right: calc(100% - 120px);
          }
          50% {
            margin-right: 100%;
            min-width: 0;
          }
          to {
            margin-left: 0;
            min-width: 470px;
            min-height: 40px;
            font-size: 20px;
            letter-spacing: 2.2px;
          }
        }

        .animation2 {
          animation: submit2 1s both;
        }

        @keyframes submit2 {
          from {
            width: 340px;
            margin-left: 0;
            float: left;
          }
          to {
            visibility: hidden;
            width: 0;
          }
        }
      }
    }


  }

  .rightSquare {
    background-color: #171717;
    height: 400px;
    min-width: 501px;
    align-self: flex-start;
    margin-top: 200px;
    z-index: 1;
  }
}

@font-face {
  font-family: 'Geometria';
  src: url('../../fonts/Geometria/Geometria.eot');
  src: local('Geometria'),
  url('../../fonts/Geometria/Geometria.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/Geometria/Geometria.woff') format('woff'),
  url('../../fonts/Geometria/Geometria.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria-Bold';
  src: url('../../fonts/Geometria/Geometria-Bold.eot');
  src: local('Geometria Bold'), local('Geometria-Bold'),
  url('../../fonts/Geometria/Geometria-Bold.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/Geometria/Geometria-Bold.woff') format('woff'),
  url('../../fonts/Geometria/Geometria-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}