.done {
  display: flex;
  flex-direction: column;

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
      color: #ebebeb;
      font-family: 'Geometria-Bold', sans-serif;
      font-size: 40px;
      letter-spacing: 4.4px;
      margin: 52px 0 0 250px;
    }

    .description {
      margin: 21px 0 0 0;
      color: #acacac;
      font-family: 'Geometria-Bold', sans-serif;
      font-size: 30px;
      letter-spacing: -1.65px;
    }

    .status {
      width: 324px;
      height: 60px;
      margin: 100px 0 0 0;
    }
  }

  .content {
    margin: 100px 0 0 0;

    .block {
      min-width: 759px;
      height: 110px;
      background-color: #ebebeb;
      padding: 0;
      margin: 0 0 0 82px;

      .msg {
        width: 353px;
        position: relative;
        top: 21px;
        left: 129px;

        .title {
          margin: 0;
          width: 353px;
          height: 37px;
          color: #171717;
          font-family: 'Geometria-Bold', sans-serif;
          font-size: 30px;
          letter-spacing: -1.65px;
        }

        .description {
          margin: 7px 0 0 0;
          width: 245px;
          height: 25px;
          color: #171717;
          font-family: 'Geometria', sans-serif;
          font-size: 20px;
          letter-spacing: -1.1px;
        }
      }
    }

    .order {
      padding: 0;
      margin: 0 0 0 80px;

      .address {
        display: flex;
        flex-direction: column;
        width: 436px;
        height: 215px;
        border: 1px solid #ebebeb;
        background-color: rgba(255, 255, 255, 0);

        .addressHeader {
          margin: 23px 0 0 140px;
          height: 25px;
          color: #171717;
          font-family: 'Geometria-Bold', sans-serif;
          font-size: 20px;
          letter-spacing: -1.1px;
        }

        .addressData {
          margin: 20px 0 0 64px;

          .addressRow:not(:first-child) {
            margin: 10px 0 0 0;
          }

          .addressRow:first-child {
            margin: 0;
          }

          .addressRow {
            .addressField {
              margin: 0;
              width: 114px;
              height: 17px;
              color: #171717;
              font-family: 'Geometria', sans-serif;
              font-size: 14px;
              letter-spacing: -0.77px;
            }

            .addressField:nth-child(2) {
              margin: 0 0 0 15px;
            }

            .addressFieldFull {
              margin: 0;
              width: 243px;
              height: 17px;
              color: #171717;
              font-family: 'Geometria', sans-serif;
              font-size: 14px;
              letter-spacing: -0.77px;
            }
          }
        }
      }

      .item {
        border: 1px solid #ebebeb;
        height: 106px;
        width: 436px;
        display: flex;
        flex-direction: row;
        margin: 20px 0 0 0;

        .watch {
          margin: 20px 0 0 24px;
          height: 66px;
          width: 66px;
        }

        .modelDescription {
          margin: 0 0 0 50px;

          .model {
            margin: 30px 0 8px 0;
            width: 61px;
            height: 25px;
            color: #171717;
            font-family: 'Geometria-Bold', sans-serif;
            font-size: 20px;
            letter-spacing: -1.1px;
          }

          .modelSex {
            width: 90px;
            height: 17px;
            color: #acacac;
            font-family: 'Geometria', sans-serif;
            font-size: 14px;
            letter-spacing: -0.77px;
            margin: 0 0 26px 0;
          }
        }


        .price {
          margin: 41px 0 0 50px;
          height: 25px;
          color: #171717;
          font-family: 'Geometria-Bold', sans-serif;
          font-size: 20px;
          letter-spacing: -1.1px;
          text-transform: uppercase;
        }

      }

      .total {
        margin-top: 20px;
        width: 436px;
        height: 62px;
        display: flex;
        flex-direction: row;
        background-color: #ebebeb;

        .totalText {
          margin: 19px 0 0 140px;
          width: 53px;
          height: 25px;
          color: #171717;
          font-family: 'Geometria-Bold', sans-serif;
          font-size: 20px;
          letter-spacing: -1.1px;
        }

        .totalPrice {
          margin: 19px 0 0 91px;
          height: 25px;
          color: #171717;
          font-family: 'Geometria-Bold', sans-serif;
          font-size: 20px;
          letter-spacing: -1.1px;
          text-transform: uppercase;

        }
      }
    }
  }
}

@font-face {
  font-family: 'Geometria-Bold';
  src: url('../../../fonts/Geometria/Geometria-Bold.eot');
  src: local('Geometria Bold'), local('Geometria-Bold'),
  url('../../../fonts/Geometria/Geometria-Bold.eot?#iefix') format('embedded-opentype'),
  url('../../../fonts/Geometria/Geometria-Bold.woff') format('woff'),
  url('../../../fonts/Geometria/Geometria-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}


@font-face {
  font-family: 'Geometria';
  src: url('../../../fonts/Geometria/Geometria.eot');
  src: local('Geometria'),
  url('../../../fonts/Geometria/Geometria.eot?#iefix') format('embedded-opentype'),
  url('../../../fonts/Geometria/Geometria.woff') format('woff'),
  url('../../../fonts/Geometria/Geometria.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}