.footer {
  margin: 0;
  min-height: 200px;
  width: 100%;
  background-color: #ebebeb;
  background-size: cover;

  .footerContent {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 180px;
    position: relative;
    top:20px;
    bottom: 0;

    .logo {
      margin-left: 89px;
      height: 100px;
      width: 100px;
    }

    .contacts {
      margin: 31px 0 0 10.486vw;
      display: flex;
      flex-direction: row;
    }

    .help, .info {
      margin: 31px 0 0 8.333vw;
      display: flex;
      flex-direction: row;
    }

    .title {
      margin: 0.33vh 0 0 0;
      color: #171717;
      font-family: 'Geometria', sans-serif;
      font-size: 0.7vw;
      letter-spacing: -0.55px;
      line-height: 0.833vw;
    }

    .description {
      margin: 0 0 0 30px;
      color: #171717;
      font-family: 'Geometria', sans-serif;
      font-size: 0.7vw;
      letter-spacing: -0.55px;
      line-height: 20px;
    }

    @media only screen and (min-width: 1800px) {
      .description {
        line-height: 25px;
      }
    }
    .rightPanel {
      //margin-left: auto;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-left: auto;

      .socialIcons {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 31px 83px 0 0;
        .instagram {
          width: 16px;
          max-height: 16px;
        }

        .vk {
          width: 16px;
          max-height: 10px;
          margin-left: 20px;
        }
      }

      .watermark {
        margin: auto 83px 33px 0;
        justify-self: flex-end;
        min-width: 110px;
        color: #acacac;
        font-family: 'Geometria', sans-serif;
        font-size: 10px;
        letter-spacing: -0.55px;
        line-height: 20px;
      }
    }

  }


}


@font-face {
  font-family: 'Geometria';
  src: url('../fonts/Geometria/Geometria.eot');
  src: local('../fonts/Geometria/Geometria'),
  url('../fonts/Geometria/Geometria.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Geometria/Geometria.woff') format('woff'),
  url('../fonts/Geometria/Geometria.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}