.delivery {
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
      color: #ebebeb;
      font-family: 'Geometria-Bold', sans-serif;
      font-size: 40px;
      letter-spacing: 4.4px;
      margin: 52px 0 0 215px;
    }

    .description {
      margin: 21px 0 0 0;
      color: #acacac;
      font-family: 'Geometria-Bold', sans-serif;
      font-size: 30px;
      letter-spacing: -1.65px;
    }

    .status {
      width: 324px;
      height: 60px;
      margin: 100px 0 0 0;
    }
  }

  .content {
    margin: 100px 0 0 0;

    .form {
      max-width: 501px;
      margin: 0 0 0 211px;
      padding: 0;

      .title {
        margin: 0;
        width: 307px;
        height: 25px;
        color: #171717;
        font-family: 'Geometria-Bold', sans-serif;
        font-size: 20px;
        letter-spacing: -1.1px;
      }


      .description {
        margin: 33px 0 0 0;
        width: 465px;
        min-height: 51px;
        color: #acacac;
        font-family: 'Geometria-Bold', sans-serif;
        font-size: 14px;
        letter-spacing: -0.77px;
        line-height: 17px;
      }



      .formItem {
        margin: 27px 0 0 0;

        .formRow:not(:first-child) {
          margin: 17px 0 0 0;
        }

        .formRow:first-child {
          margin: 0;
        }

        .formRow {
          display: flex;
          flex-direction: row;

          .formGroup {
            padding: 0;
            margin: 0;

            .formLabel {
              height: 12px;
              color: #171717;
              font-family: 'Geometria-Bold', sans-serif;
              font-size: 10px;
              letter-spacing: -0.55px;
              margin: 0 0 7px 0;
            }

            .formInput {
              max-width: 243px;
              height: 48px;
              border: 1px solid #ebebeb;
              border-radius: 0;
              background-color: #ffffff;
            }

            .formInputFull {
              max-width: 501px;
              height: 48px;
              border: 1px solid #ebebeb;
              border-radius: 0;
              background-color: #ffffff;
            }
          }
        }
      }
    }

    .order {
      padding: 0;
      margin: 0 0 0 209px;

      .orderList {
        display: flex;
        flex-direction: column;

        .item:not(:first-child) {
          margin: 20px 0 0 0;
        }

        .item {
          border: 1px solid #ebebeb;
          height: 108px;
          width: 436px;
          display: flex;
          flex-direction: row;

          .watch {
            margin: 20px 0 0 24px;
            height: 66px;
            width: 66px;
          }

          .modelDescription {
            margin: 0 0 0 50px;

            .model {
              margin: 30px 0 8px 0;
              width: 61px;
              height: 25px;
              color: #171717;
              font-family: 'Geometria-Bold', sans-serif;
              font-size: 20px;
              letter-spacing: -1.1px;
            }

            .modelSex {
              width: 90px;
              height: 17px;
              color: #acacac;
              font-family: 'Geometria', sans-serif;
              font-size: 14px;
              letter-spacing: -0.77px;
              margin: 0 0 26px 0;
            }
          }


          .price {
            margin: 41px 0 0 50px;
            height: 25px;
            color: #171717;
            font-family: 'Geometria-Bold', sans-serif;
            font-size: 20px;
            letter-spacing: -1.1px;
            text-transform: uppercase;
          }
        }
      }

      .total {
        margin: 20px 0 0 0;
        width: 436px;
        height: 62px;
        display: flex;
        flex-direction: row;
        background-color: #ebebeb;

        .totalText {
          margin: 19px 0 0 140px;
          width: 53px;
          height: 25px;
          color: #171717;
          font-family: 'Geometria-Bold', sans-serif;
          font-size: 20px;
          letter-spacing: -1.1px;
        }

        .totalPrice {
          margin: 19px 0 0 91px;
          height: 25px;
          color: #171717;
          font-family: 'Geometria-Bold', sans-serif;
          font-size: 20px;
          letter-spacing: -1.1px;
          text-transform: uppercase;

        }
      }
    }
  }

  .btnRow {
    display: flex;
    flex-direction: row;
    margin: 40px 0 100px 82px;

    .back {
      width: 114px;
      height: 40px;
      border-width: 0;
      background-color: rgba(255, 255, 255, 0);
      text-align: left;

      .arrowBack {
        margin: 2px 0 0 28px;
        max-width: 4px;
        max-height: 8px;
      }

      .backText {
        margin: 0 0 0 7px;
        width: 43px;
        height: 12px;
        color: #acacac;
        font-family: 'Geometria-Bold', sans-serif;
        font-size: 10px;
        letter-spacing: 1.1px;
        line-height: 12px;
      }
    }

    .next {
      width: 243px;
      height: 40px;
      background-color: #ebebeb;
      padding: 0;
      text-align: left;
      border-width: 0;
      margin: 0 0 0 789px;

      .nextText {
        margin: 0 0 0 96px;
        width: 42px;
        height: 12px;
        color: #171717;
        font-family: 'Geometria-Bold', sans-serif;
        font-size: 10px;
        letter-spacing: 1.1px;
        line-height: 12px;
      }

      .arrowNext {
        margin: 2px 0 0 5px;
        max-width: 4px;
        max-height: 8px;
      }
    }
  }
}


@font-face {
  font-family: 'Geometria-Bold';
  src: url('../../../fonts/Geometria/Geometria-Bold.eot');
  src: local('Geometria Bold'), local('Geometria-Bold'),
  url('../../../fonts/Geometria/Geometria-Bold.eot?#iefix') format('embedded-opentype'),
  url('../../../fonts/Geometria/Geometria-Bold.woff') format('woff'),
  url('../../../fonts/Geometria/Geometria-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}


@font-face {
  font-family: 'Geometria';
  src: url('../../../fonts/Geometria/Geometria.eot');
  src: local('Geometria'),
  url('../../../fonts/Geometria/Geometria.eot?#iefix') format('embedded-opentype'),
  url('../../../fonts/Geometria/Geometria.woff') format('woff'),
  url('../../../fonts/Geometria/Geometria.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}