.men {
  display: flex;
  flex-direction: column;

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
      padding-left: 175px;
      height: 49px;
      color: #ebebeb;
      font-family: 'Geometria-Bold', sans-serif;
      font-size: 40px;
      letter-spacing: 4.4px;
      margin: 52px 0 0 0;
    }

    .description {
      margin: 21px 0 0 0;
      color: #acacac;
      font-family: 'Geometria-Bold', sans-serif;
      font-size: 30px;
      letter-spacing: -1.65px;
    }
  }

  .content {
    margin: 100px 0 100px 0;

    .row {
      margin: 0;

      .leftPanel {
        max-width: 159px;
        padding: 0;
        margin: 21px 0 0 82px;

        .paramValues {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          margin: 14px 0 0 -3px;
          max-width: 108px;

          .selectedBracelet {
            margin: 0;
            height: 17px;
            color: #171717;
            font-family: 'Geometria-Medium', sans-serif;
            font-size: 14px;
            letter-spacing: -0.77px;
          }

          .notSelectedBracelet {
            margin: 0;
            cursor: pointer;
            height: 17px;
            color: #acacac;
            font-family: 'Geometria', sans-serif;
            font-size: 14px;
            letter-spacing: -0.77px;
          }

          .imageDiv {
            width: 26px;
            height: 26px;
            display: flex;
            align-items: center;
            justify-content: center;

            .color {
              width: 20px;
              height: 20px;
            }

            .selectedColor {
              width: 26px;
              height: 26px;
            }
          }

          .imageDiv:nth-child(3n+2) {
            margin: 0 14px 0 14px;
          }

          .imageDiv:nth-child(n+4) {
            margin-top: 4px;
          }

        }

        .braceletValues{
          margin-top: 8px;
        }


        .filtersTitle {
          margin: 0 0 0 15px;
          height: 25px;
          color: #c4c4c4;
          font-family: 'Geometria-Bold', sans-serif;
          font-size: 20px;
          letter-spacing: -1.1px;
        }

        .divider {
          margin: 19px 0 0 0;
          width: 129px;
          height: 0;
          border: 0.5px solid #ebebeb;
        }

        .filtersParam {
          margin: 21px 0 0 15px;
          height: 17px;
          color: #171717;
          font-family: 'Geometria-Medium', sans-serif;
          font-size: 14px;
          letter-spacing: -0.77px;
        }

        .range {
          p {
            margin: 0;
            height: 17px;
            color: #acacac;
            font-family: 'Geometria', sans-serif;
            font-size: 14px;
            letter-spacing: -0.77px;
          }

          p:first-child{
            margin-bottom: 10px;
          }

          .rangeValue {
            margin: 0 0 0 10px;
            height: 17px;
            color: #171717;
            font-family: 'Geometria-Medium', sans-serif;
            font-size: 14px;
            letter-spacing: -0.77px;
          }
        }
      }

      .watches {
        padding: 0;
        margin: 0 160px 0 99px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .watchItem {
          .watch {
            width: 280px;
            height: 280px;
            margin: 0 50px 0 0;

          }

          .watchDescription {
            margin: 22px 0 0 129px;
            max-height: 46px;

            p {
              margin: 0;
              color: #acacac;
              font-family: 'Geometria-Medium', sans-serif;
              font-size: 20px;
              letter-spacing: -1.1px;
              line-height: 23px;
            }
          }
        }

        .watchItem:nth-child(3n) {
          .watch {
            margin: 0;
          }
        }

        .watchItem:nth-child(n+4) {
          .watch {
            margin-top: 40px;
          }
        }


      }
    }
  }
}

.spinner {
  position: absolute;
  left: calc(50% - 75px);
  top: calc(50% - 75px);
  width: 150px;
  height: 150px;
}

@font-face {
  font-family: 'Geometria-Bold';
  src: url('../../fonts/Geometria/Geometria-Bold.eot');
  src: local('Geometria Bold'), local('Geometria-Bold'),
  url('../../fonts/Geometria/Geometria-Bold.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/Geometria/Geometria-Bold.woff') format('woff'),
  url('../../fonts/Geometria/Geometria-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}


@font-face {
  font-family: 'Geometria';
  src: url('../../fonts/Geometria/Geometria.eot');
  src: local('Geometria'),
  url('../../fonts/Geometria/Geometria.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/Geometria/Geometria.woff') format('woff'),
  url('../../fonts/Geometria/Geometria.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria-Medium';
  src: url('../../fonts/Geometria/Geometria-Medium.eot');
  src: local('Geometria Medium'), local('Geometria-Medium'),
  url('../../fonts/Geometria/Geometria-Medium.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/Geometria/Geometria-Medium.woff') format('woff'),
  url('../../fonts/Geometria/Geometria-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}