.container {
    display: flex;
    flex-direction: row;
}

.content {
    width: 100%;
    height: auto;
    min-height: 100vh;
    background-color: #ebebeb;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content .logo {
    position: absolute;
    left: 89px;
    top: 0;
    //min-width: 100px;
    //min-height: 100px;
    max-width: 200px;
    max-height: 200px;

}

.content .errorStatus {
    margin: 24px 0 0 0;
    max-height: 364px;
    min-width: 597px;
    color: #171717;
    font-family: 'Geometria-Bold', sans-serif;
    font-size: 300px;
}


.content .emailForm {
    width: 460px;
    margin: 0;
    display: flex;
    justify-content: center;
}

.content .emailForm .emailInput, .animation2 {
    z-index: 1;
    width: 318px;
    max-height: 40px;
    padding-left: 20px;
    font-family: 'Geometria', sans-serif;
    font-size: 17px;
    color: #171717;
    border: 1px solid #ebebeb;
    background-color: #ffffff;
}

.content .emailForm .emailInput::-webkit-input-placeholder, .animation2::-webkit-input-placeholder {
    height: 17px;
    font-family: 'Geometria', sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.77px;
}

.content .emailForm .emailInput::-moz-placeholder, .animation2::-moz-placeholder {
    height: 17px;
    font-family: 'Geometria', sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.77px;
}

.content .emailForm .submitButton, .animation {
    z-index: 999;
    width: 120px;
    height: 40px;
    text-align: center;
    background-color: #171717;
    margin-left: 10px;
    padding: 0;
    border-width: 0;
    color: #ebebeb;
    font-family: 'Geometria-Bold', sans-serif;
    font-size: 10px;
    letter-spacing: 1.1px;
    line-height: 12px;
}


.content .emailForm .submitButton .submitButtonText {
    width: 74px;
    height: 12px;
    color: #ebebeb;
    font-family: 'Geometria', sans-serif;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 1.1px;
    line-height: 12px;
}

.footer {
    width: 100%;
    height: 31%;
    background-color: #171717;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
}

.footer p {
    margin: 0;
}

.footer .firstHeader {
    height: 49px;
    color: #ffffff;
    font-family: 'Geometria-Bold', sans-serif;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 4.4px;
    line-height: 40px;
    margin-top: 64px;
}


.footer .secondHeader {
    width: 673px;
    height: 45px;
    color: #ffffff;
    font-family: 'Geometria', sans-serif;
    font-size: 20px;
    font-weight: 200;
    letter-spacing: -1.1px;
    line-height: 24px;
    text-align: center;
    margin-top: 21px;
}

.footer .text {
    align-self: center;
}

.footer .socialIcons {
    height: 16px;
    margin-top: -16px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 83px;
}

.footer .socialIcons img {
    width: 16px;
    height: 16px;
}

.footer .socialIcons .vk {
    margin-left: 20px;
}


.animation {
    animation: submit 3s both;
}


@keyframes submit {
    from {
        margin-right: 0;
        margin-left: 0;
        max-width: 120px;
    }
    17%{
        max-width: 120px;
    }
    33% {
        margin-left: -20px;
        margin-right: calc(100% - 120px);
    }
    50%{
        margin-right: 100%;
    }
    to {
        margin-left: 0;
        width: 470px;
        min-height: 40px;
        font-size: 20px;
        letter-spacing: 2.2px;
    }
}


.animation2 {
    animation: submit2 1s forwards;
}

@keyframes submit2 {
    from {
        width: 340px;
        margin-left: 0;
    }
    to {
        visibility: hidden;
        width: 0;
    }
}


@font-face {
    font-family: 'Geometria';
    src: url('../fonts/Geometria/Geometria.eot');
    src: local('../fonts/Geometria/Geometria'),
    url('../fonts/Geometria/Geometria.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Geometria/Geometria.woff') format('woff'),
    url('../fonts/Geometria/Geometria.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria-Bold';
    src: url('../fonts/Geometria/Geometria-Bold.eot');
    src: local('../fonts/Geometria/Geometria Bold'), local('Geometria-Bold'),
    url('../fonts/Geometria/Geometria-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Geometria/Geometria-Bold.woff') format('woff'),
    url('../fonts/Geometria/Geometria-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria-Light';
    src: url('../fonts/Geometria/Geometria-Light.eot');
    src: local('Geometria Light'), local('Geometria-Light'),
    url('../fonts/Geometria/Geometria-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Geometria/Geometria-Light.woff') format('woff'),
    url('../fonts/Geometria/Geometria-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}